// =============================================================================
//
// Name:          Hidden
//
// Description:   Simply hides content.
//
// Blocks:        `u-hidden`
//                `u-hidden-palm`       // disabled by default
//                `u-hidden-lap`        // disabled by default
//                `u-hidden-lap-and-up` // disabled by default
//                `u-hidden-portable`   // disabled by default
//                `u-hidden-desk`       // disabled by default
//                `u-hidden-retina`     // disabled by default
//
// Markup:
//
// <ul class="u-hidden">
//     <li>Foo</li>
//     <li>Bar</li>
//     <li>Baz</li>
// </ul>
//
// <ul class="u-hidden-palm">
//     <li>Foo</li>
//     <li>Bar</li>
//     <li>Baz</li>
// </ul>
//
// =============================================================================





// Variables
// =============================================================================

// Predefine the variables bellow in order to alter and enable specific
// features.

$tree-hidden-namespace:            $tree-namespace !default;

$tree-enable-hidden--responsive:   false !default;





// =============================================================================
// Block: `u-hidden`
// =============================================================================

.#{$tree-hidden-namespace}u-hidden {
    display: none !important;
}





// =============================================================================
// Blocks: `u-hidden-[palm|lap|lap-and-up|portable|desk|retina]`
// =============================================================================

@if $tree-enable-hidden--responsive == true {

    // Responsive hidden classes.

    // Loop over our breakpoints defined in _settings.responsive.scss
    @each $breakpoint in $breakpoints {

        // Get the name of the breakpoint.
        $alias: nth($breakpoint, 1);

        @include media-query($alias) {

            .#{$tree-hidden-namespace}u-hidden-#{$alias} {
                display: none !important;
            }

        } // Close media query.

    } // Close breakpoints loop.

} // Close hidden--responsive @if.
