// *************************************
//
//   #HIDDEN
//
// *************************************

// The hidden module simply hides content.

// Predefine the variables bellow in order to alter and enable specific features.
$tree-hidden-namespace:            $tree-namespace !default;

$tree-enable-hidden--responsive:   false !default;





.#{$tree-hidden-namespace}u-hidden {
    display: none !important;
}





@if $tree-enable-hidden--responsive == true {

    // Responsive hidden classes.

    // Loop over our breakpoints defined in _settings.responsive.scss
    @each $breakpoint in $breakpoints {

        // Get the name of the breakpoint.
        $alias: nth($breakpoint, 1);

        @include media-query($alias) {

            .#{$tree-hidden-namespace}u-hidden-#{$alias} {
                display: none !important;
            }

        } // Close media query.

    } // Close breakpoints loop.

} // Close hidden--responsive @if.
